<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>


<form th:action="@{/update}" th:object="${car}" method="post">
    <h1>Edit Car</h1>
    <!-- Hidden ID so update knows which car -->
    <input type="hidden" th:field="*{id}">

    <label>Make:</label>
    <input type="text" th:field="*{make}" required>

    <label>Year:</label>
    <input type="number" th:field="*{year}" min="1900" max="2100" required>

    <label>License Plate Number:</label>
    <input type="text" th:field="*{licensePlateNumber}" required>

    <label>Color:</label>
    <input type="text" th:field="*{color}" required>

    <label>Body Type:</label>
    <select th:field="*{bodyType}">
        <option value="" disabled>-- Select Body Type --</option>
        <option value="Sedan">Sedan</option>
        <option value="SUV">SUV</option>
        <option value="Hatchback">Hatchback</option>
        <option value="Pickup">Pickup</option>
        <option value="Coupe">Coupe</option>
        <option value="Convertible">Convertible</option>
    </select>


    <div>
        <label for="engineType">Engine Type</label>
        <select id="engineType" th:field="*{engineType}">
            <option value="" disabled selected>-- Select Engine Type --</option>
            <option th:each="t : ${types}" th:value="${t}" th:text="${t}"></option>
        </select>
    </div>


    <div>
        <label for="transmission">Transmission</label>
        <select id="transmission" th:field="*{transmission}">
            <option value="" disabled selected>-- Select Transmission --</option>
            <option th:each="t : ${sizes}" th:value="${t}" th:text="${t}"></option>
        </select>
    </div>


    <button type="submit">Update Car</button>
    <a href="/">Cancel</a>
</form>
</body>
</html>
