<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/authstyle.css}">
</head>
<body>
<form th:action="@{/login}" method="post" class="login-form">
    <h2>Login</h2>

    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
    </div>

    <button type="submit">Login</button>
    <a th:href="@{/register}">Don't have an account? Register</a>
</form>
</body>
</html>
